
<div class="modal-header max-bg-light-gray">
    <div class="modal-title" style="padding-top: 2px;">
        {{ 'Create function' | translate | uppercase }}
    </div>
    <button (click)="bsModalRef.hide()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label>{{ 'Function Name' | translate }}</mat-label>
                <input class="w-100" matInput maxlength="256" [(ngModel)]="function.name" />
                <mat-hint align="start"></mat-hint>
                <mat-hint align="end">{{ function?.name?.length }} / 256</mat-hint>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>{{ 'Url' | translate }}</mat-label>
                <input class="w-100" matInput maxlength="256" [(ngModel)]="function.url" />
                <mat-hint align="start"></mat-hint>
                <mat-hint align="end">{{ function?.url?.length }} / 256</mat-hint>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>{{ 'Sort order' | translate }}</mat-label>
                <input class="w-100" type="number" matInput maxlength="256" [(ngModel)]="function.sortOrder" />
                <mat-hint align="start"></mat-hint>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>{{ 'Icon' | translate }}</mat-label>
                <input class="w-100" matInput maxlength="256" [(ngModel)]="function.icon" />
                <mat-hint align="start"></mat-hint>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>{{ 'Function' | translate }}</mat-label>
                <input type="text" matInput [formControl]="ctrFunction" [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option class="is-loading" *ngIf="isLoadingAutocompleteFunction">
                        <div class="w-100" style="display: flex; align-items: center; justify-content: center;">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </mat-option>
                    <ng-container *ngIf="!isLoadingAutocompleteFunction">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{ option.sortOrder }}.{{ option.name }}
                            <button
                                class="btn btn-sm btn-primary position-absolute"
                                style="right: 15px; top: 5px;"
                                (click)="editFunction(option.categoryId)"
                            >
                                <i class="fa fa-edit"></i>
                            </button>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<div class="modal-footer max-bg-light-gray">
    <button pbutton class="btn btn-primary" (click)="onSave()">
        {{ 'Save' | translate }}
    </button>
    <button (click)="bsModalRef.hide()" class="btn btn-secondary" type="button">{{ 'Close' | translate }}</button>
</div>
