<div class="modal-header max-bg-light-gray">
    <div class="modal-title" style="padding-top:2px">
        {{(productId == null ? 'Create product' : 'Update product') | translate | uppercase }}
    </div>
    <button (click)="bsModalRef.hide()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <mat-form-field class="col-6">
            <mat-label>{{'Price' | translate}}</mat-label>
            <input class="w-100" matInput localizedNumericInput [(ngModel)]="entity.price" />
            <mat-hint align="start"></mat-hint>
            <mat-hint align="end"></mat-hint>
        </mat-form-field>
        <form class="col-6" (mouseenter)="showAddCategory = true" (mouseleave)="showAddCategory = false">
            <mat-form-field class="w-100">
                <mat-label>{{'Category' | translate}}</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" >
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button [hidden]="!showAddCategory" class="btn btn-sm btn-primary position-absolute" style="right: 15px; top: 5px" (click)="createCategory()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </form>
    </div>
    <h5>File</h5>
    <!-- multiple -->
    <!-- <p-fileUpload name="demo[]" (onUpload)="onUpload($event)"  accept="image/*" maxFileSize="1000000" multiple="multiple">-->
    <!-- single -->
    <p-fileUpload name="demo[]" (onUpload)="onUpload($event)" accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
    <fieldset>
        <legend>{{'Details' | translate}}</legend>
        <mat-tab-group (selectedIndexChange)="changeTab($event)">
            <mat-tab *ngFor="let tab of langs; let i= index " [label]="tab.name">
                <div class="mt-2 mb2">
                    <mat-form-field class="w-100">
                        <mat-label>{{'Product name' | translate}}</mat-label>
                        <input class="w-100" matInput maxlength="256" [(ngModel)]="entity.details[i].name" />
                        <mat-hint align="start"></mat-hint>
                        <mat-hint align="end">{{entity.details[i].name.length}} / 256</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>{{'Descriptions' | translate}}</mat-label>
                        <input class="w-100" matInput maxlength="256" [(ngModel)]="entity.details[i].description" />
                        <mat-hint align="start"></mat-hint>
                        <mat-hint align="end">{{entity.details[i].description.length}} / 256</mat-hint>
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </fieldset>
</div>
<div class="modal-footer max-bg-light-gray">
    <button pbutton class="btn btn-primary" (click)="onSave()">
        {{ 'Save' | translate }}
    </button>
    <button (click)="bsModalRef.hide()" class="btn btn-secondary" type="button">{{ 'Close' | translate }}</button>
</div>