<table class="table table-hover table-striped">
    <thead >
        <tr>
            <th>STT</th>
            <th>Tên giảm giá</th>
            <th>Phần trăm giảm</th>
            <th>Giảm tối đa</th>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>