<div>
    <p-treeTable [value]="treeFunctions" [columns]="cols">
        <ng-template pTemplate="caption">
            Functions
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width: 8rem">
                    <button class="btn btn-sm btn-primary" (click)="createOrUpdate(null)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.sortOrder}}.{{rowData.name}}
                </td>
                <td >
                    {{rowData.icon}}
                </td>
                <td >
                    {{rowData.url}}
                </td>
                <td>
                    <button class="btn btn-sm btn-warning" (click)="createOrUpdate(rowData)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="delete(rowData.id)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div style="text-align:left">
                <p-button icon="pi pi-refresh" (click)="loadFunction()"></p-button>
            </div>
        </ng-template>
    </p-treeTable>
</div>
