.modal-content {
    animation-name: example;
    animation-duration: 0.3s;
}

@keyframes example {
    0% {
        transform: scale(0.5);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} /* You can add global styles to this file, and also import other style files */

.cdk-overlay-container {
    position: fixed;
    z-index: 2001 !important;
}

fieldset {
    border-radius: 5px;
    min-width: 0;
    border: 1px #999999 solid !important;
    padding: 5px;
}

legend {
    display: block;
    width: unset;
    margin-left: 5px;
    font-size: unset;
    padding: 0 5px;
    margin-bottom: 0.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
.max-text-color-white {
    color: white;
}
.max-bg-light-gray {
    background-color: lightgray;
}
html,
body {
    height: 100%;
}

.modal-full {
    width: 100%;
    max-width: calc(100% - 50px);
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


@import '~@angular/material/prebuilt-themes/indigo-pink.css';
